.enlaces_acercaDe{
    text-decoration: none;
}

.strong_color {
    color: #051352;
}

.lista-articulos{
   list-style: none;
}

.boton-blanco{
    padding: 0 16px;
    background-color: #ffffff;
    border: 1px solid #231f4d;
    color: #000000;
    transition: background-color 0.15s ease, color 0.15s ease;
  
    &:hover {
      background-color: #151042;
      color: #ffffff;
    }
  }

  .card-nosotros{
    width: 13rem;
  }