/* Generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background: radial-gradient(#2C2F42, #161824);
}

main {
    position: relative;
    left: 78px;
    margin-right: 80px;
}

/* Sidebar */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #101528;
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 240px;
    z-index: 2;
}

.sidebar .logo_content .logo{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .logo_content .logo {
    opacity: 1;
    pointer-events: none;
}

.sidebar #btn {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 6px;
    font-size: 15px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
    margin-top: 15px;
    white-space: nowrap;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
}

.sidebar ul li a:hover {
    color: #101528;
    background: #fff;
}

.sidebar ul li i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
}

.sidebar .links-name {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .links-name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar ul li input {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #1D1F2B;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
}

.sidebar ul li .btn_busqueda {
    position: absolute;
    z-index: 97;
    color: #fff;
    font-size: 18px;
    transition: all 0.5s ease;
}

.sidebar ul li .btn_busqueda:hover {
    background: #fff;
    color: #101528;
}

.sidebar .profile_content {
    position: relative;
    color: #fff;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
}

.sidebar .profile_content .profile {
    position: relative;
    padding: 5px;
    height: 60px;
    background: none;
    transition: all 0.4s ease;
}

.profile_content .profile .profile_details {
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar.active .profile_content:hover {
    background: #fff;
    color: #101528;
}

.sidebar.active .profile .profile_details {
    opacity: 1;
    pointer-events: auto;
}

.profile .profile_details i{
    font-size: 45px;
    
}

.profile .profile_details .profile_name {
    margin-left: 10px;
}

.profile_name {
    cursor: pointer;
}

.sidebar .nav-list .sub-menu{
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .nav-list .sub-menu{
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .nav-list .sub-menu.active {
    position: absolute;
    z-index: 98;
    color: #fff;
    left: 0;
    width: 100%;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    background: #1D1F2B;
    opacity: 1;
    pointer-events: auto;
    white-space: nowrap;
}

.sidebar.active .nav-list .sub-menu.active .more-options{
    margin-top: 0;
    height: 40px;
    line-height: 30px;
    margin-left: 15px;
    width: 80%;
}

.sidebar.active .nav-list .sub-menu.active .more-options a{
    padding: 0 15px;
}


/* Footer */

#secContainer {
    background: #101528;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
    justify-content: space-around;
}


.boxInfo {
    margin: 3rem;
    gap: 1rem;
}

.boxInfo h2 {
    color: #f3f4f4;
    font-size: 18px;
    line-height: 1.5px;
    padding-bottom: 16px;
    align-items: center;
}

.boxInfo a {
    border-bottom: 1px solid transparent;
    padding-bottom: 5px;
    color: unset;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.5s;
    font-weight: 400;

    &:hover {
        border-bottom: 1px solid rgb(253, 233, 204);
        color: rgb(255, 235, 205);
    }
}

.boxInfo ol {
    list-style: none;
}

.boxInfo ol li a {
    color: #8996A0;
}


#socialLinks {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
    justify-content: space-between;
    width: 100%;
}

#socialLinks p {
    display: flex;
    align-items: flex-end;
    color: #8996A0;
}

#socialLinks img {
    align-items: end;
    width: 150px;
}


#socialLinks ol {
    display: flex;
    align-items: flex-end;
    margin-right: 20px;
}

#socialLinks ul a {
    text-decoration: none;
    color: #8996A0;
    transition: 0.5s;
    gap: 8px;
    padding: 0 8px;


    &:hover {
        border-bottom: 1px solid blanchedalmond;
        color: blanchedalmond;
    }
}

/* Mobile */

@media screen and (max-width: 767px) {

    #socialLinks {
        display: block;
    }

    #socialLinks p {
        display: block;
        text-align: center;
    }

    #socialLinks img {
        margin-bottom: 16px;
        margin-top: 16px;
    }

    #socialLinks ol {
        display: block;
        text-align: center;
        margin-top: 16px;
    }


    #socialLinks ol ul {
        padding: 0;
    }
}


/* Tablet/Medium */
@media screen and (min-width: 768px) and (max-width: 991px) {
    #socialLinks {
        display: block;
    }

    #socialLinks p {
        display: block;
        text-align: center;
    }

    #socialLinks ol {
        display: block;
        text-align: center;
        gap: 16px;
        margin-top: 16px;
    }


    #socialLinks ol ul {
        padding: 0;
    }
}


@media screen and (min-width: 993px) {
    #socialLinks ol ul {
        padding: 0;
    }

    #socialLinks ol {
        padding: 0;
    }
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}
ol, ul {
    padding-left: 0;
}
